version: '3.8'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: timesheet-app
    container_name: timesheet-app
    restart: unless-stopped
    volumes:
      - .:/var/www
    networks:
      - timesheet-network

  webserver:
    image: nginx:latest
    container_name: timesheet-webserver
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - timesheet-network

networks:
  timesheet-network:
    driver: bridge
